html, body {
    background-color: #f5efe6;

}


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    width: 100%;
    position: fixed;
    


}

.nav li{
    background-color: black;
    color: white;
    cursor:grab;
    font-size:x-large;
    text-align: center;
    flex: 1;
}

.nav li:hover {
    background-color: burlywood;
}

.current_page {
    background-color: brown;
}

.nav li a{
    display: block;
    text-decoration: none;
    color: white;
   
    
}


.home_page_header {
    color: brown;
    background-size: cover;    /* Scales image to fill container */
    background-position: center; /* Keeps important parts centered */
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 20px;
    background-image: url("/Users/samuelhaesungpark/ISEARCH2/assets/homer_header_image.jpg")
}

h2 {
    text-align: center;
    padding-top: 20px;
    
}

.main_text {
    padding: 0 50px;
}

/* Simple Sources Styling Without Changing Font */
.sources {
    padding: 10px 15px;
    margin: 20px 0;
    background-color: #f0f0f0; /* light gray background */
    line-height: 1.5;
}

.sources h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.sources ul {
    padding-left: 20px;
}

.sources ul li {
    margin-bottom: 5px;
}

.sources a {
    color: blue;
    text-decoration: none;
}

.sources a:hover {
    text-decoration: underline;
}


